.progression-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.play {
    background: #03001e;
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.1s;
    transition: background-size 0.5s ease-out;
    margin-bottom: 10px !important;
    background-size: 300%;
    background-position: left;
}

.pause {
    background: #03001e;
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text !important;
    transition: transform 0.1s;
    transition: background-size 0.5s ease-out;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 30px;
    cursor: pointer;
    transition: 0.1s;
    background-size: 300%;
}

.play:hover {
    transform: translateY(2px);
    background-size: 100%;
}

.pause:hover {
    transform: translateY(2px);
    background-size: 100%;
}