.fixed {
    margin-bottom: 300px;
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link a:active {
    background: #fff !important;
}

.nav-link:hover {
    transform: scaleX(1.2);
}

.nav-link {
    transition: transform 0.3s ease-out;
}

.results {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    z-index: 20 !important;
    width: 22.5%;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    height: auto;
    position: absolute;
    left: 51%;
}
 

.results h1 {
padding-left: 10px;
  height: 45px;
  line-height: 45px;
}
  




